<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invoice-item-heading" jhiTranslate="invoisterApp.invoiceItem.home.createOrEditLabel">Create or edit a Invoice Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invoiceItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invoiceItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.invoiceItem.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="invoiceItem.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.invoiceItem.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="invoiceItem.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.invoiceItem.grossCost" for="field_grossCost">Gross Cost</label>
                    <input type="number" class="form-control" name="grossCost" id="field_grossCost"
                        [(ngModel)]="invoiceItem.grossCost" required/>
                    <div [hidden]="!(editForm.controls.grossCost?.dirty && editForm.controls.grossCost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.grossCost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grossCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="invoisterApp.invoiceItem.invoice" for="field_invoice">Invoice</label>
                    <select class="form-control" id="field_invoice" multiple name="invoice" [(ngModel)]="invoiceItem.invoices">
                        <option [ngValue]="getSelected(invoiceItem.invoices, invoiceOption)" *ngFor="let invoiceOption of invoices; trackBy: trackInvoiceById">{{invoiceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
