<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-budget-heading" jhiTranslate="invoisterApp.budget.home.createOrEditLabel">Create or edit a Budget</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!budget.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="budget.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.budget.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="budget.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.budget.body" for="field_body">Body</label>
                    <textarea class="form-control" name="body" id="field_body"
                        [(ngModel)]="budget.body" required></textarea>
                    <div [hidden]="!(editForm.controls.body?.dirty && editForm.controls.body?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.body?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.budget.grossCost" for="field_grossCost">Gross Cost</label>
                    <input type="number" class="form-control" name="grossCost" id="field_grossCost"
                        [(ngModel)]="budget.grossCost" required/>
                    <div [hidden]="!(editForm.controls.grossCost?.dirty && editForm.controls.grossCost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.grossCost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grossCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.budget.tax" for="field_tax">Tax</label>
                    <input type="number" class="form-control" name="tax" id="field_tax"
                        [(ngModel)]="budget.tax" required/>
                    <div [hidden]="!(editForm.controls.tax?.dirty && editForm.controls.tax?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tax?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tax?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="invoisterApp.budget.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="budget.companyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
